# alias af=alias-finder
alias menu="menu | lolcat"
alias nomnom="menu | lolcat"
alias so="shrout"
alias sf="shrfile"
alias co="cpyout"
alias cf="cpyfile"
alias ls=lsd
alias lsl="clear; ls"
alias lll="clear; ll"
alias rake='noglob bundled_rake'
alias weather='curl wttr.in/?0'
alias gdm='gd master'
alias s='gst .'
alias d='gd .'
alias intel="sudo prime-select intel"
alias nvidia="sudo prime-select nvidia"
alias pls="sudo"
alias p="pyenv"
alias cat="bat"
alias bd="batdiff"
alias man="batman"
alias cd.="cd .."
alias cd..="cd .."
alias xd="xdg-open &>/dev/null"
alias xd.="xdg-open &>/dev/null ."
alias suod="sudo"
alias sduo="sudo"
alias zz='z -c'      # restrict matches to subdirs of $PWD
alias zi='z -I'      # use fzf to select in multiple matches
alias n=z
alias ni='z -I'
alias nn='z -c'
alias nb='z -b'
alias t="todo.sh"
alias ta="todo.sh add"
alias tl="todo.sh list"
alias td="todo.sh do"
alias tp="todo.sh pri"
alias vim="nvim"
alias v="vim"
alias viz="vim ${ZDOTDIR:-$HOME}/.zshrc"
alias vizp="vim ${ZDOTDIR:-$HOME}/.zpreztorc"
alias vit="vim ~/.config/tmux/tmux.conf"
alias vip="vim ~/.config/polybar/config.ini"
alias viv="vim ~/.vimrc"
alias viw="vim ~/.which-key.vim"
alias via="vim ${ZDOTDIR:-$HOME}/.aliases"
alias vi3="vim ~/.config/i3/config"
alias viq="vim ~/.config/qtile/config.py"
alias top='htop'
alias cp='cp -ri'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
