[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/sahinakkaya/nvim-config.git
	branch = linux
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/sahinakkaya/zsh-config.git
	branch = linux
