Library
Desktop
Pictures
OrbStack
Music
Movies
Projects
Public
Documents
Downloads
.zsh_sessions
.zsh_history
.zlua*
.vscode
.theme
.ssh
.npm
.orbstack
.lesshst
**.DS_Store
.CFUserTextEncoding
.aws
.cache
.dots
.local
.docker
.gitconfig-work
**automatic_backups/
.config/github-copilot/
navigate_kitty.py
pass_keys.py
uv-receipt.json
.claude
.claude.json
.pyenv
.yarnrc
