* {
    background-color:       #282A3A;
    text-color:             #7e8294;
	font:				 	"Segoe UI 10";
}

window {
    width:      			250px;
    padding:    			0px;
    border:					0px 0px -1px 0px;
    margin:					0px 50px;
    location:               north;
    left: 50%;
    margin-left:-50%;
}

entry {
    expand: 				true;
    text-color:				#7e8294;
}
