
DISPLAY=:0
XDG_RUNTIME_DIR=/run/user/1000

* * * * * /home/sahin/scripts/check-battery.sh 6

*/15 * * * * curl 'https://sks.itu.edu.tr/ExternalPages/sks/yemek-menu-v2/uzerinde-calisilan/yemek-menu.aspx' 2>/dev/null | grep -oP "js-nyro-modal.*?>\K(.+)(?=<i.*>)" > /home/sahin/.todaysmenu

* * * * * cat /var/spool/cron/sahin > /home/sahin/.config/crontab
